#match-game-container {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: rgb(155, 128, 128);

    margin-top: 5px;
    margin-bottom: 10px;

    justify-content: space-around;
}

.mg-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.mg-box {
    display: flex;
    margin: 10px;
    min-width: 70px;
    min-height: 70px;
    border: 4px solid #920534;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.mg-box:hover {
    background-color: aqua;
    border: 2px dashed red;
    border-radius: 4px;
}

