{% extends "frontend/index.html" %}

<!-- need to load static files if use them within this file -->
{% load static %}

{% block app-spec-css %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/home.css' %}"> -->
{% endblock %}
{% block main-app %}

<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="flex flex-col mx-auto space-y-4 text-white text-xl font-bold leading-6 max-w-xs mt-4 mb-8">

        <!-- <button type="button" onclick="location.href=`{% url 'frontend:math' %}`;"
            class="bg-gradient-to-br from-cyan-700 to-blue-700 hover:bg-gradient-to-bl hover:scale-x-105 hover:shadow-xl hover:to-blue-900
                rounded-full px-5 py-2.5 text-center mr-2 mb-2 w-full h-16">
            Maths
        </button> -->

        {% url 'frontend:math' as math_url %}
        {% include "components/btn_choice.html" with text="Maths" url_target=math_url %}

        <!-- <button type="button" onclick="location.href=`{% url 'frontend:match_setup' %}`;"
            class="bg-gradient-to-br from-cyan-700 to-blue-700 hover:bg-gradient-to-bl hover:scale-x-105 hover:shadow-xl hover:to-blue-900
                rounded-full px-5 py-2.5 text-center mr-2 mb-2 w-full h-16">
            Match
        </button> -->
        
        {% url 'frontend:match_setup' as match_setup_url %}
        {% include "components/btn_choice.html" with text="Match" url_target=match_setup_url %}

        <!-- <button type="button" onclick="location.href=`{% url 'frontend:shop_setup' %}`;"
            class="bg-gradient-to-br from-cyan-700 to-blue-700 hover:bg-gradient-to-bl hover:scale-x-105 hover:shadow-xl hover:to-blue-900
                rounded-full px-5 py-2.5 text-center mr-2 mb-2 w-full h-16">
            Shop
        </button> -->

        {% url 'frontend:shop_setup' as shop_setup_url %}
        {% include "components/btn_choice.html" with text="Shop" url_target=shop_setup_url %}

        <!-- <button type="button" onclick="location.href=`{% url 'frontend:shop' %}`;"
            class="bg-gradient-to-br from-green-300 to-blue-500 hover:bg-gradient-to-bl 
                rounded-lg px-5 py-2.5 text-center mr-2 mb-2 w-full h-14">
            SHOP
        </button> -->

        <!-- <button type="button" onclick="location.href=`{% url 'frontend:game' %}`;"
            class="bg-gradient-to-br from-green-300 to-blue-500 hover:bg-gradient-to-bl 
                rounded-lg px-5 py-2.5 text-center mr-2 mb-2 w-full h-14">
            Adventures
        </button> -->
    </div>
</div>
</div>


{% endblock %}

{% block app-spec-js %}
{% endblock %}