{% extends "frontend/index.html" %}

<!-- need to load static files if use them within this file -->
{% load static %}

{% block app-spec-css %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/home.css' %}"> -->
{% endblock %}
{% block main-app %}

<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="flex flex-col mx-auto space-y-4 text-white text-sm font-bold leading-6 max-w-xs mt-4 mb-8">

        <button type="button" onclick="location.href=`{% url 'frontend:math' %}`;"
            class="bg-gradient-to-br from-green-300 to-blue-500 hover:bg-gradient-to-bl 
                font-medium rounded-lg px-5 py-2.5 text-center mr-2 mb-2 w-full h-14">
            Math
        </button>

        <button type="button" onclick="location.href=`{% url 'frontend:match' %}`;"
            class="bg-gradient-to-br from-green-300 to-blue-500 hover:bg-gradient-to-bl 
                font-medium rounded-lg px-5 py-2.5 text-center mr-2 mb-2 w-full h-14">
            Match
        </button>

        <button type="button" onclick="location.href=`{% url 'frontend:game' %}`;"
            class="bg-gradient-to-br from-green-300 to-blue-500 hover:bg-gradient-to-bl 
                font-medium rounded-lg px-5 py-2.5 text-center mr-2 mb-2 w-full h-14">
            Adventures
        </button>
    </div>
</div>
</div>


{% endblock %}

{% block app-spec-js %}
{% endblock %}