{% extends "frontend/index.html" %}

<!-- need to load static files if use them within this file -->
{% load static %}

{% block app-spec-css %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/match.css' %}"> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/home.css' %}"> -->

{% endblock %}

{% block main-app %}
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div id="match-app" class="flex flex-col items-center my-4 mx-2 font-medium bg-gradient-to-r from-sky-100 via-cyan-100 to-sky-100 rounded-xl">
    </div>

    <div class="flex flex-col my-2 mx-2">
        <!-- emoji name div -->
        <div class="flex items-center justify-center my-1 rounded-full bg-indigo-100 border border-indigo-200 shadow-lg">
            <span class="text-sm font-semibold pl-2" id="emoji-name-span">
                &nbsp
            </span>
        </div>

        <div class="flex flex-col grow h-3 items-center mt-2 mb-1 bg-gradient-to-br from-slate-300 to-slate-200 rounded-xl ">
            <div class="flex-start flex h-full w-full rounded-xl overflow-hidden">
                <div
                    id="reward-meter-div"
                    class="h-full items-baseline justify-center transition-all duration-500 overflow-hidden break-all rounded-xl bg-green-500"
                    style="width: 100%;"
                ></div>
              </div>
        </div>

        <div class="flex items-center justify-center my-1 rounded-full bg-indigo-100 border border-indigo-200 shadow-lg ">
            <span class="text-sm font-semibold pl-2">
                Reward &nbsp; 
            </span>
            <img id="reward_image" src="{% static 'frontend/images/ec-1.png' %}" class="w-auto h-4 mx-1">
        </div>
    </div>

    <div class="flex flex-col m-2 mb-4 items-center ">
        <button type="button" onclick="location.href=`{% url 'frontend:match_setup' %}`;"
            class="bg-slate-300 rounded-full w-full h-10 text-blue-950 text-center text-xl font-bold">
          BACK
        </button>
    </div>
</div>
{% endblock %}

{% block app-spec-js %}
{{ match_data|json_script:"match-data" }}
<script>
    const tile_facedown_src = "{% static 'frontend/images/tile-face-down-2.png' %}"
</script>
<script type="text/javascript" src="{% static 'frontend/js/match.js' %}"></script>
{% endblock %}
