{% extends "frontend/index.html" %}

<!-- need to load static files if use them within this file -->
{% load static %}

{% block app-spec-css %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/home.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/math.css' %}">
{% endblock %}

{% block main-app %}
<div class="max-w-md mx-auto my-2 bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div>

        <form id="form">
            <input id="correct-answer" type="hidden">
            {% csrf_token %}
            <div class="flex flex-col m-4 items-center mx-4 bg-cyan-300 rounded-xl">
                <div class="flex items-center justify-center h-14">
                    <!-- <p>text3</p> -->
                    <label id="math-eqn" class="text-4xl font-bold text-zinc-800"> </label>
                </div>
                <div class="flex items-center justify-center h-14">
                    <p class="text-4xl font-bold text-zinc-800"> = </p>
                </div>
                <div class="flex my-4 items-center h-14">
                    <input id="answer" class="mx-4 block w-full px-3 py-2 h-10 shadow-l
                            bg-indigo-200 border border-slate-300 rounded-lg placeholder-slate-400
                            focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500"
                            type="number" name="answer" placeholder="Answer" 
                            pattern="[0-9]*" inputmode="numeric" onwheel="return false;">
                </div>
            </div>
        </form>
    </div>

    <!-- <div id="app" class="app_flex_box"></div> -->

    <div class="flex flex-col m-4 items-center mx-4 bg-slate-600 opacity-70 rounded-xl">
        <div class="flex-start flex h-3 w-full overflow-hidden rounded-sm bg-blue-gray-50 font-sans text-xs font-medium">
            <div
                id="time-left-div"
                class="flex h-full items-baseline justify-center transition-all duration-500 overflow-hidden break-all rounded-xl bg-green-500 text-white"
                style="width: 50%;"
            ></div>
          </div>
    </div>
    <div class="flex flex-col m-4 items-center mx-4 bg-cyan-300 rounded-xl text-s text-zinc-800">

        <div class="flex flex-row items-center m-2 h-10">
            <p>streak: &nbsp;</p> 
            <!-- <div class="flex flex-row items-center border text-sm"> -->
                <img src="{% static 'frontend/images/pb4-2.png' %}" class="h-4 w-auto m-1 opacity-100"> <p>:</p> <span id="db-streak">0</span> <p>,</p> &nbsp
            <!-- </div> -->
            <img src="{% static 'frontend/images/pb4-3.png' %}" class="h-4 w-auto m-1 opacity-100"> <p>:</p> <span id="ub-streak">0</span> <p>,</p> &nbsp
            <img src="{% static 'frontend/images/pb4-4.png' %}" class="h-4 w-auto m-1 opacity-100"> <p>:</p> <span id="mb-streak">0</span>
        </div>
        <div class="flex flex-row items-center m-2 h-10">
            <!-- <div class="steak-bar-item">passes: <span id="passes-span">0</span></div> -->
            <div class="steak-bar-item">passes: <span id="passes-span">0</span> ---- lf passes = <span id="passes-span-lf">{{ passes }}</span></div>
        </div>
    </div>
</div>

{% endblock %}

{% block app-spec-js %}
<script type="text/javascript" src="{% static 'frontend/js/math.js' %}"></script>
{% endblock %}
