<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/main.css' %}">

    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <!-- app specific css -->
    {% block app-spec-css %}
    {% endblock %}


    <title>Django Authentication System - HLAB</title>
</head>

<body>
    {% block content %}
    {% endblock %}

    {% block footer-block %}
    {% endblock %}

    <!-- page specific javascript -->
    {% block page-spec-js %} {% endblock %}

    <!-- app specific javascript -->
    {% block app-spec-js %} {% endblock %}
</body>

</html>